body{
  padding: 1 em;
  background: black;
}
.row{
  background: url(../img/network.svg)
  
  
}
.row a{
  display: block;
  margin: 1em;
  font-size: 1.4em;
}
.btnh{
  border: .1em dashed white;
}
.shadow{
  background: hsla(0, 100%, 0%, 0.80);
  color: hsla(130,100%, 60%, 1);
  height: 100%;
}
div.crop-img {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
div.crop-img img {
    display: block;
    max-width: none !important;
}
hr{
    border-top: 1px dashed #4a3a5f;
}