body{
  background: url(../img/network.svg)
}
div.crop-img {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
div.crop-img img {
    display: block;
    max-width: none !important;
}
hr{
    border-top: 1px dashed #4a3a5f;
}