<h3 class="text-success"> Restricci&oacute;n de sitios web</h3>
        <div class="row">
            <div class="col-xs-5 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="1" style="width: 400%;margin:0 0 -300% 0;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-7 text-info" >
                <p><h4>
                <strong>Soluci&oacute;n A:</strong><br>
                <ul>
                    <li>Sitios web, que consumen demasiado ancho de banda.</li>
                    <li>Sitios web, prohibidos al personal</li>
                    <li>Sitios web, que suben la latencia o lag en intervalos</li>
                    <li>Sitios web, que distraen de labores cotidianas</li>
                    <li>Sitios web, a los que se considere peligrosos</li>
                    <li>Sitios web, o servidores a los que acceden gestores de descarga que consumen demasiado ancho de banda</li>
                </ul>
                </h4>
                </p></div>
        </div> 