<h3 class="text-center shadow"> Redireccionamiento</h3>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-4 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="3" style="width: 400%; margin:-200% 0 -100% -200%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-3 shadow">
                <p class="text-justify">
                  <h4>
                        <strong>Soluci&oacute;n A:</strong><br>
                <ul>
                            <li>Libre albeldrio por parte de los hosts al usar dns cualquieras</li>
                        <li>conexiones clandestinas en las cuales se quisiera mandar alguna advertencia al usuario final, como:
                          "ya no puedes ver you tube" <br>
                          "su servicio de la empresa vencio por falta de pago"
                  </li>
                    <li>confidencialidad del host y puerto destino para el usuario en la misma empresa</li>
                    </ul>
                    </h4>
              </p></div>
                    <div class="col-xs-3"></div>
        </div>