<h3 class="text-center shadow"> Enlaces inalambricos</h3>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-4 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="3" style="width: 400%; margin:-300% 0% 0% 0%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-3 shadow">
                <p class="text-justify"><strong>Soluci&oacute;n A:</strong><br>
                restriccion de sitios web</p></div>
                    <div class="col-xs-3"></div>
        </div>