<h3 class="text-center shadow"> Scripts o Programaci&oacute;n</h3>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-4 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="3" style="width: 400%; margin:-300% 0% 0% -200%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-3 shadow">
                <p class="text-justify">
              <h4>
                        <strong>Soluci&oacute;n A:</strong><br>
                <ul>
                            <li>Requerimientos por el usuario de autamatizacion de tareas del router a travez de una interface amigable Ej:</br>
                  "Prohibir y habilitar determinadas paginas o servicio"</br>
                              "Dar prioridad o denegar servicios a determinados host "</br>
                              "Scanear los sitios a los que acceden los usuarios que no hallamos marcado"</br>
                              "Habilitar el Phishing en horario de trabajo con redireccionamiento a una pagina que les diga WORk</br> NOW!"
                  </li>
                        
                    </ul>
                    </h4>
              </p></div>
                    <div class="col-xs-3"></div>
        </div>