<h3 class="text-success"> Vlan</h3>
        <div class="row">
            <div class="col-xs-5 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="2" style="width: 400%; margin:0 0 -300% -200%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-7 text-info">
                <p class="text-justify" >
                    <h4>
                    <strong>Soluci&oacute;n A:</strong><br>
                         <ul>
                            <li>Altas probabilidades que ocurran violaciones de información confidencial.</li>
                            <li>Poca eficiencia en usuarios al no usar la vlan que pueden usar o aprovechar recursos similares. </li>
                            <li>Mayor flexibilidad en la administración y en los cambios de la red, ya que la arquitectura puede cambiarse usando los parámetros de los conmutadores.</li>
                            
                        </ul>
                    </h4>
                    </p></div>
        </div>