<h3 class="text-center shadow" > Portal cautivo</h3>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-4 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="3" style="width: 400%; margin:-100% 0 -200% 0%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-3 shadow">
                <p class="text-justify">
                <h4>
                <strong>Soluci&oacute;n A:</strong><br>
                    <ul>
                            <li>Ancho de banda y tiempo de conexión a usuarios.</li>
                            <li>Seguridad del uso internet por los registros de usuarios en tu red.</li>
                            <li>Integracion de publicidad a traves del Wifi, en el proceso de negociacion de internet en el portal cautivo.</li>
                        <li>Abuso del ancho de banda en la red por parte de un usuario con diversos dispositivos.</li>
                      <li>Centralizacion de los datos de usuarios con acceso al wifi.</li>
                    </ul>
                </h4></p></div>
          <div class="col-xs-3"></div>
        </div>