<h3 class="text-center shadow"> Control de ancho de banda sobre servicios</h3>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-4 ">
                <div class="crop-img"  style="width: 480px;">
                    <img class="img-responsive" alt="3" style="width: 400%; margin:-100% 0 -200% -200%;" src="img/explain.jpg">
                </div>
            </div>
            <div class="col-xs-3 shadow">
                <p class="text-justify">
                <h4><strong>Soluci&oacute;n A:</strong><br>
                <ul>
                            <li>Latencia ocasionada por la coexistencia de otros servicios de menor prioridad que provoca los retrasos en comunicaci&oacute;n en determinados lapsos de tiempo. </li>
                        <li>Reserva necesitada en ancho de banda por determinadas aplicaciones, servicios o conexiones</li>
                    <li>Falta de conocimiento de consumo real de determinados servicios, aplicaciones o conexiones.</li>
                    <li>Problemas de inestabilidad de conexion o picos en diversos juegos o streamings</li>
                    </ul>
                </h4>
                    </p></div>
          <div class="col-xs-3"></div>
        </div>