<br>
<div class="row shadow">
  <div class="col-xs-6 text-right">
    <ul>
            <li><a href="#r1" class="btn btn-success"> Restricci&oacute;n de sitios web</a></li>
            <li><a href="#r2" class="btn btn-success"> Cableado Estructurado</a></li>
            <li><a href="#r3" class="btn btn-success"> Vlan</a></li>
            <li><a href="#r4" class="btn btn-success"> Enrutamiento</a></li>
            <li><a href="#r5" class="btn btn-success"> Portal cautivo</a></li>
            <li><a href="#r6" class="btn btn-success"> Cortafuegos</a></li>
            <li><a href="#r7" class="btn btn-success"> Control de ancho de banda sobre servicios</a></li>
            <li><a href="#r8" class="btn btn-success"> Balanceo de carga</a></li>
    </ul>
  </div>
    
  <div class="col-xs-6 text-left">
    <ul>
            <li><a href="#r9" class="btn btn-success"> Ipsec</a></li>
            <li><a href="#r10" class="btn btn-success"> Enmascaramiento de red</a></li>
            <li><a href="#r11" class="btn btn-success"> Redireccionamiento</a></li>
            <li><a href="#r12" class="btn btn-success"> Monitoreo de red</a></li>
            <li><a href="#r13" class="btn btn-success"> Enlaces inalambricos</a></li>
            <li><a href="#r14" class="btn btn-success"> Redes mesh</a></li>
            <li><a href="#r15" class="btn btn-success"> Scripts</a></li>
    </ul>
  </div>
</div>

   
        
        
        
        