<br>
<div class="row ">
  
  <div class="col-xs-2 text-center"></div>
  <div class="col-xs-4 text-center">
    
            <a href="#r1" class="btnh shadow"> Restricci&oacute;n de sitios web</a>
            <a href="#r2" class="btnh shadow"> Cableado Estructurado</a>
            <a href="#r3" class="btnh shadow"> Vlan</a>
            <a href="#r4" class="btnh shadow"> Enrutamiento</a>
            <a href="#r5" class="btnh shadow"> Portal cautivo</a>
            <a href="#r6" class="btnh shadow"> Cortafuegos</a>
            <a href="#r7" class="btnh shadow"> Control de ancho de banda sobre servicios</a>
            <a href="#r8" class="btnh shadow"> Balanceo de carga</a>
    
  </div>
    
  <div class="col-xs-4 text-center">
    
            <a href="#r9" class="btnh shadow"> Ipsec</a>
            <a href="#r10" class="btnh shadow"> Enmascaramiento de red</a>
            <a href="#r11" class="btnh shadow"> Redireccionamiento</a>
            <a href="#r12" class="btnh shadow"> Monitoreo de red</a>
            <a href="#r13" class="btnh shadow"> Enlaces inalambricos</a>
            <a href="#r14" class="btnh shadow"> Redes mesh</a>
            <a href="#r15" class="btnh shadow"> Scripts</a>
    
  </div>
  <div class="col-xs-2 text-center"></div>
</div>

   
        
        
        
        